
    <form class = "box rounded">
      <h2>Verificar Identidad</h2>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input type="email" id="form2Example1" class="form-control" />
        
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control" />
        
      </div>
    
    
      <!-- Submit button -->
      <button type="button" class="btn btn-danger btn-block mb-4"><p>Ingresar</p></button>
    
      
    </form>

    <button type="button" class="btn btn-danger btn-block mb-4 but" (click)="Regresar()"><p>Regresar</p></button>

